body {
    background-color: #f4f4f4;
    font-family: "Baskerville", serif;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 18.5px;
    padding-bottom: 100px;
}

h2 {
    font-family: "Courier New", monospace;
}
.profile-image img{
    width: 250px;
    height: auto;
    float: left;
    
}

.header {
    padding-top:30px;
}
.article {
    padding-left: 260px;
    padding-right: 220px;

}

.top {
    float: right;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: navy;
}